*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    user-select: none;
}

a{
    text-decoration: none;
    color: inherit;
}   

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.top{

    display: flex;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    height: 50px;
    align-items: center;

}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appcontainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #003b95;
    justify-content: center;
    align-items: center;
}

.appheader{

    width: 100%;
    background-color: #003b95;
    color: #ffffff;
}

.appWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyB{
    width: 100%;
    min-width: 700px;
}

.bodycontainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navBar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #003b95;
}

.navBarContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1140px;
    min-width: 700px;
    padding: 30px 10px;
    color: #ffffff;
}
.websitename a{
    color: #ffffff;
    text-decoration: none;
}

.logcontainer{
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
}

.logCountry{
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0 10px;
    height: 100%;
    border-radius: 7px;
}

.logRegister{
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
    border-radius: 7px;
}

.logFlags{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 10px;
    height: 100%;
    border-radius: 7px;
}

.logFlags img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.logCountry:hover,
.logFlags:hover,
.logRegister:hover{
    background-color: #185ec7;
    color: #ffffff;
    cursor: pointer;
}

.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.heroheader{
    width: 100%;
}

.herobottom{
    display: flex;
    align-items: center;
    width: 1140px;
}

.websitename{
    font-size: x-large;
    font-weight: 300;
}

.websitename:hover{
    cursor: pointer;
}

.logcontainer{
    display: flex;
    gap: 20px;
}

.logcontainer button{
    padding: 10px 10px;
    color: #1a53a8;
    font-weight: 600;
    border-radius: 3px;
    border: solid 1px #1a53a8 ;
}

.logcontainer button:hover{
    cursor: pointer;
}

.categories{
    display: flex;
    gap: 25px;
}

.categories a{
    text-decoration: none;
     color: inherit;
}

.categorie{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    border-radius: 20px;
    padding: 10px 20px;
    border: #003b95 1px solid;
    user-select: none;
}



.categorie:hover{
    background-color: #1a53a8;
    cursor: pointer;
}

.categorie:active{
    border: white 1px solid;
    cursor: pointer;
}

.categorie.active {
    background-color: #1a53a8;
    color: white;
    border: solid 1px #ffffff;
}

.heroContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #003b95
}

.heroContainerBlock{

    width: 1140px;
    padding: 40px 10px;
    color: #f0f0f0;

}

.heroContainer h1{
    font-size: 50px;
    font-weight:bolder ;
}

.heroContainer p{
    font-size: 20px;  
    font-weight: bolder;
}

.searchbox {
    display: flex;
    width: 100%;
    max-width: 1140px;
    background-color: orange;
    border: 3px solid orange;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: -30px;
    color: black;
}

.inputfield {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    border-right: 3px solid orange;
    flex: 1;
    background-color: #fff;
    font-weight: 300;
    font-size: 14px;
    white-space: nowrap;
    border-radius: 10px;
}

.inputfield:last-child {
    border-right: none;
}

.searchbar {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    font-weight: 300;
}

.icon {
    font-size: 18px;
    color: #666;
}

.searchbtn {
    background-color: #0071c2;
    color: white;
    border: none;
    padding: 0 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    transition: background-color 0.2s;
    border-radius: 10px;
}

.searchbtn:hover {
    background-color: #005da8;
}

.checkForFlight{
    margin: 20px 0;
}

.main-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto
}

.offers{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
    padding: 10px 10px;
    width: 100%;
    max-width: 1140px;
    border: solid 1px #ccc;
    border-radius: 10px;
    align-items: stretch;
}

.offers-left{
    padding: 5px 10px;
}

.offers-left h2,p{
    margin: 5px 0;
}

.offers-left button{
    padding: 10px 10px;
    background-color: #1a53a8;
    border-radius: 7px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
.offers-right img{
    height: 100%;
    max-height: 100px;
    width: auto;
    border-radius: 10px;
    object-fit: cover
}

.quickPlanner,
.exploreController{
    display: flex;
    flex-direction: column;
    gap: 5PX;
    margin-top: 40px;
    width: 100%;
    max-width: 1140px;
    align-items: stretch;
}

.plannerCategory{
    display: flex;
    gap: 10px;
    max-width: 1140px;

}

.pcategory{
    padding: 15px 25px;
    border-radius: 30px;
    border: solid 1px white;
    cursor: pointer;
    user-select: none;
}

.pcategory:hover{
    background-color: #ccc
}

.pcategory:active{
    color: #1a53a8;
    border: solid 1px #1a53a8;
}

.triplist{
    display: flex;
    gap: 10px;
    max-width: 1140px;
    margin-top: 15px;
    overflow-x: scroll;
}

.tripComponent{
    display: flex;
    flex-direction: column;
    width: 180px;
}

.tripComponent :hover,
.propertyTypes :hover
{
    cursor: pointer;
}

.tripComponentBody{
    margin: 10px;
}

.tripComponent img{
    height: 100%;
    max-height: 180px;
    width: auto;
    border-radius: 10px;
    object-fit: cover
}

.tripComponentBody p{
    color: #4d4c4c;
    font-size:small;
}

.propertyController{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1140px;
    margin-top: 40px;
    overflow-x: scroll;
}

.propertyList{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.propertyTypes{
    display: flex;
    flex-direction: column;
    width: 275px;
}

.propertyController img{
    height: 100%;
    max-height: 250px;
    width: auto;
    border-radius: 10px;
    object-fit: cover
}

.weekdeals,
.uniqueProperty {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    width: 100%;
    margin-top: 40px ;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
}

.uniquepropertybottom{
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    margin-top: 15px;;
}


.weekdealbody {
    display: flex;
    gap: 10px;
    height: 420px;
    flex-wrap: nowrap;
    margin-top: 15px;;
}

.hotelContainer {
    flex: 0 0 auto;
    display: inline-block;
    max-height: 400px;
    margin-right: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    scroll-snap-align: start;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.hotelContainerHead img,
.hotelContainerImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.hotelContainerBody {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hotelContainerBodyTopheadtag{
    height: 2rem;
}

.hotelContainerBodyTopheadtag h2 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.hotelContainerBodyTop > p{
    font-size: 14px;
    color: #888;
}

.hotelRateReview {
    display: flex;
    font-size: 0.85rem;
    color: #4d4c4c;
    margin-top: 5px;
}

.hotelRateReview > p:first-child{
    padding: 8px 6px;
    background-color: #003b95;
    color: white;
    border-radius: 5px;
    margin-right: 10px
}

.hotelRateReviewRight > p:nth-child(2){
    color: #666;
}

.hotelRateReview p{
    color: black;
}

.hotelContainerBodyBottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.hotelContainerBodyBottomRight {
    text-align: right;
    display: flex;
    gap: 10px;
    font: bold;
}

.hotelContainerBodyBottomRight p:first-child {
    font-size: 0.9rem;
    text-decoration: line-through;
    color: #ff0000;
}

.hotelContainerBodyBottomRight p:last-child {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
}

.flightheroContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    flex-direction: column;
    padding: 30px 10px;

}

.flightheroContainerBlock{

    width: 1140px;
    color: #050505;
    
}

.flightheroContainerHeader{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flightheroContainerHeader h1 {
    font-size: 35PX;
    font-weight: bold;
}

.tripType{
    display: flex;
    gap: 10px;;
}

.flightheroContainerBottom{
    display: flex;
    flex-direction: column;
    width: 1140px;
}

.flightheroBottomCheck{
    display: flex;
    
    gap: 10px;
}

.flightheroBottomCheckList{
    list-style-type: none;
}

.flightheroBottomCheckList{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.flightheroBottomCheckList div{
    display: flex;
    margin-left: 10px;
}

.flightheroBottomCheckList input{
    width: 20px;
    height: 20px;;
}

.flightheroBottomCheckList label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 1rem;
    cursor: pointer;
}

.checkFlight{
    margin-right: 10px;
    
}

.economyContainer{
    width: 100px;
}

.economyContainer select{
    width: 100%;
    font-size: 18px;
    font-weight: 1rem;
    border: none;
    background-color: transparent;

}

.directflightonlyCheckbox{
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.flightSearchBoxContainerDefalut{
    width: 100%;
    margin: 20px 0;
    background-color: orange;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.flightSearchBoxContainerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    padding: 4px;
    gap: 4px;
}

.flightSearchBoxHorizontalDefault{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    height: 100%;
}

.flightSearchBoxSwitch{
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}

.flightSearchBoxSwitch button{
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.flightSearchBoxfrom,
.flightSearchBoxto{
    cursor: pointer;
    width: auto;
    min-width: 260px;
    background-color: white;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0 10px;
}

.flightSearchBoxDate,
.flightSearchBoxTraveller{
    width: auto;
    min-width: 175px;
    background-color: white;
    border-radius: 10px;
    height: 100%;
    flex: 1  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding: 0 10px;
    cursor: pointer;
}

.flightSearchBoxSearchButton{
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color:#003b95;
    display: flex;
    align-items: center;
    width: 120px;
    cursor: pointer;
    justify-content: center;
    font-size: 50px;

}

.flightSearchBoxSearchButton button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.flightBody{
    display: flex;
    flex-direction:column;
    gap: 20px;
    width: 100%;
    margin: 20px auto;
    padding: 0 10px;
    /* background-color: #000000; */
}

.popularFlightType{
    display: flex;
    margin-top: 20px ;
    height: 50px;
    margin-bottom: -4px;
}

.popularFlightInternationalText,
.popularFlightDomesticText{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 20px;
    width: 150px;
    align-items: center;
    justify-content: space-around;
}

.popularFlightInternationalh,
.popularFlightDomestich{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.popularFlightInternationalh:hover,
.popularFlightDomesticText:hover{
    background-color: #ccc;
    border-radius: 5px;
    color: #003b95
}



.popularFlightInternationalText hr,
.popularFlightDomesticText hr{
    position: relative;
    margin-top: -2px;     
    height: 3px;
    width: 100%;
    border: none;
    background-color: #003b95;
}

.popularFlightContainerList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px
}

.flightlistContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    gap: 20px
}

.flightimg img{
    width: 255px;
    height: 190px;
    border-radius: 10px;
    object-fit: cover;
}

.signContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signContainerHeader h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.signContainerBottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 15px;
}

.signContainerLeft{
    width: 90px;
    object-fit:contain;
    display: inline;
}

.signContainerLeft img{
    width: 100%;
    height: 100%;
    object-fit:cover;

}

.signContainerRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 10px
}

.signControllerButton{
    display: flex;
    gap: 10px;
    align-items: center;  
}

.signContainerBottom button:first-child{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;

}

.signContainerBottom button:first-child:hover{
    background-color: #0056b3;
}

.signContainerBottom button:last-child{
    color: #003b95;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: #fff;
}

.signContainerBottom button:last-child:hover{
    background-color: #b5d3ff;
}

.signPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 100px auto;
    padding: 0 10px;
    align-items: center;
}

.signPageHead{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.signPagePara p{
    font-size: small;
}

.signPageBody{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%
}

.signPageContainer{
    display: flex;
    flex-direction: column;
    width: 400px; 
    padding: 0 10px;
    gap: 15px;
}

.signPageEmail{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signPageEmail input{
    padding: 7px 5px;
}

.signPageBody button{
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 550;
    transition: background-color 0.3s ease
}

.searchPage{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.searchContainer{
    background-color: #003b95;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.searchContainertop{
    height: 50px;
}

.searchContainerBottom{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchContainerDown{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.searchContainerWrapper{
    width: 1140px;
    padding: 10px;
    display: flex;
}

.searchContainerFilter{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: solid 1px #ccc;
    width: 250px;
    margin-right: 10px;
}

.filterBox{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filterBox hr{
    background-color: #ccc;
}

.bedandbathcount{
    display: flex;
    width: 100%;
}

.fboxTitle,
.filterTitle,
.bedandbathTitle,
.mealsTitle,
.checkedListhead{
    font-weight: bold;
}

.filterFacilities,
.fbox,
.bedandbath,
.meals,
.checkedList{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin: 10px 0;
    padding: 4px 10px;

}

.fboxChecklist,
.filterFacilitiesCheck,
.mealslist
{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.fboxChecklistItem,
.filterFacility,
.meal{
    display: flex;
    size: 1rem;
    width: 100%;
    gap: 15px;
}

.fboxChecklistItem input,
.filterFacility input,
.mealcheckbox input{
    width: 20px;
    height: 20px;
}

.filterFacilityShow{
    color: rgb(6, 197, 255);
    font-size: .8rem;
    cursor: pointer;
}

.bedrooms,
.bathrooms{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.bedcount,
.bathcount{

    display: flex;
    width: 100%;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.bedcountminus,
.bedcountvalue,
.bedcountplus,
.bathcountminus,
.bathcountvalue,
.bathcountplus{
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
}

.bedcountminus:hover,
.bedcountvalue:hover,
.bedcountplus:hover,
.bathcountminus:hover,
.bathcountvalue:hover,
.bathcountplus:hover{
    background-color: #8eabfa;
}

.bedcountminus.disabled,
.bathcountminus.disabled{
    cursor: not-allowed;
}

.searchContainerList{
    padding: 10px;
    width: 100%;
}

.preferedList{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.preferedSearchTitleContainer{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.horItem{
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    gap: 20px;

}

.horItemImage{
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 5px;
    display: flex;
}

.horItemImage img{
    width: 240px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}   

.horItemDetails{
    width: 100%;
}

.hotelnameWithrate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 70px;
}

.hotelWithlocation {
    color: #0166ff;
}

.hotelWithlocation h2{
    font-size: 1.5rem;
    
}

.hotellocation p{
    font-size: .8rem;
    font-weight: 400;
    color: #0166ff;
    margin-bottom: 10px;
}

.hotellocation{
    text-decoration:underline;
}

.rateingHotel{
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #003b95;
    color: white;
}

.hotelRoomDetails{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.hotelRoomDetailsRight{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
}

.hotelRoomDetailsRight h2{
    font-weight: 400;
}

.hotelRoomDetailsRight button{

    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0166ff;
    color: white;
    cursor: pointer;
 }

.hotelRoomStyle{
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: 10px; 
}

.hotelRoomCancellation{
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: green;
}

/* 
.trending {
    width: 100%;
    max-width: 1140px;
    margin: 20px auto;
    padding: 0 10px;
}

.trending h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.trendingdestination {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
}

.trendingdestination > div:nth-child(1) {
    grid-column: span 2;
}

.trendingdestination > div:nth-child(2) {
    grid-column: span 1;
}

.trendingdestination > div:nth-child(3),
.trendingdestination > div:nth-child(4),
.trendingdestination > div:nth-child(5) {
    grid-column: span 1;
}
/* 
@media (max-width: 1140px) {
    .navBar,
    .body,
    .heroContainer,
    .searchbox,
    .main-body,
    .offers,
    .quickPlanner,
    .plannerCategory,
    .propertyController {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .top {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .logcontainer {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .heroContainer h1 {
        font-size: 32px;
    }

    .heroContainer p {
        font-size: 20px;
    }

    .offers {
        flex-direction: column;
        align-items: flex-start;
    }

    .offers-right img {
        max-height: none;
        width: 100%;
    }

    .tripComponent {
        width: 150px;
    }

    .propertyTypes {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .searchbox {
        flex-direction: column;
        padding: 10px;
    }

    .inputfield {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid orange;
    }

    .inputfield:last-child {
        border-bottom: none;
    }

    .searchbtn {
        width: 100%;
        margin-top: 10px;
    }

    .tripComponent,
    .propertyTypes {
        width: 100%;
    }

    .offers-left button {
        width: 100%;
    }
} */ 