*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navBar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: #000dffd9;
    padding: 20px 200px;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.body{
    display: flex;
}

.sideBar{
    width: 19vw;
    padding: 20px;
}

.top{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.websitename{
    font-size: x-large;
    font-weight: 300;
}

.websitename:hover{
    cursor: pointer;
}

.logcontainer{
    display: flex;
    gap: 20px;
}

.logcontainer button{
    padding: 5px 15px;
    color: #000dffd9;
    font-weight: 600;
    border-radius: 3px;
    border: solid 1px #000dffd9 ;
}

.logcontainer button:hover{
    cursor: pointer;
}

.categories{
    display: flex;
    gap: 25px;
}

.categorie{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    border-radius: 20px;
    padding: 10px 20px;
    border: none ;
}

.categorie:hover{
    background-color: #5860f9d9;
    cursor: pointer;
}

.heroContainer{

    padding: 60px 200px;
    color: #f0f0f0;
    height: 15rem;
    background-color: #000dffd9;

}

.heroContainer h1{
    font-size: 50px;
    font-weight:bolder ;
}

.heroContainer p{
    font-size: 30px;  
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}